.bg-gray {
    background-color: #f3f3f4
}

.blue {
    color: #478fca;
}

.login-title {
    font-weight: bold;
    margin-bottom: 30px;
}

.light-login {
    background: #dfe0e2 url('/static/app/image/light-login.jpg') repeat;
}

.middle-box {
    width: 350px;
    z-index: 100;
    margin: 100px auto;
    padding: 20px 40px;
    background-color: #f3f3f4;
}

.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFF
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFF
}

.btn-primary.active, .btn-primary:active, .open .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.active[disabled], .btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #1dc5a3;
    border-color: #1dc5a3
}

.form-control {
    background: #FFF none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    -webkit-transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
    transition: border-color .15s ease-in-out 0s, box-shadow .15s ease-in-out 0s;
    width: 100%;
    font-size: 14px
}

.form-control:focus {
    border-color: #1ab394;
}

.text-muted {
    margin-top: 20px;
}

label.error {
    color: #cc5965;
    display: inline-block;
    margin-left: 5px;
}

.form-control.error {
    border: 1px dotted #cc5965;
}